<h2>@ViewBag.edit.Name : @ViewBag.edit.CheeseId</h2>

<form method="post">
    <input type="hidden" value="@ViewBag.edit.CheeseId" name="id" />
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="name" id="name" type="text" value="@ViewBag.edit.Name" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" name="description" id="description" type="text" value="@ViewBag.edit.Description" />
    </div>
    <input type="submit" value="Add Cheese" />
</form>

